<div class="jumbotron center">

	<h1>Welcome to Quick Homes</h1>
  <% if user_signed_in? %>
          Please go to the members area for this month's special offers.
     <% else %>
	<p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  

       <p>Sign up for free today for special offers and savings.
  </p>    
  <% end %> 
 </div>
   
 
  
